*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

html,
body,
#root{
  width: 100%;
  height: 100%;
}


.light{
  display:flex;
    justify-content: space-between;
    background-color: lightseagreen;
    padding:14px 20px;
    align-items:center;
}

.dark{
  background-color: #333;
  color: white;
  display:flex;
    justify-content: space-between;
  
    padding:14px 20px;
    align-items:center;
}

.nav2{
    display:flex;
    gap:30px;
}